# Firebase 설정 가이드
REACT_APP_FIREBASE_API_KEY=여기에_API_키를_입력하세요
REACT_APP_FIREBASE_AUTHDOMAIN=프로젝트_ID.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=프로젝트_ID
REACT_APP_FIREBASE_STORAGEBUCKET=프로젝트_ID.appspot.com
REACT_APP_FIREBASE_MESSAGINGSENDERID=숫자값
REACT_APP_FIREBASE_APPID=앱_ID값
REACT_APP_MEASUREMENTID= G-XXXXXXXXXX


